html,
body.dark {
	background-color: #0d152e;
}

.dark button, .dark a {
	transition: 0.3s all ease;
}

/* Navigation bar Styling */
.dark nav {
	background-color: #0d152e;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dark nav .navbar-brand img {
	filter: invert(0%);
}

.dark nav li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

.dark nav .nav-link {
	color: white;
}

.dark nav a:disabled{
	color:#ddd;
}

/* General Styling */

.dark a {
	color: white;
}

/* Header */

.dark header {
	color: white;
}

.dark button:not(.mode-button):not(.mode-small-button):not(.close-small-button),
.dark a[role="button"] {
	border: 1px solid white !important;
	color: white !important;
}

.dark .close-small-button {
	filter: invert(0);
}

.dark #about,
.dark #solution {
	background-color: #101c3d;
	color: white;
}

.dark .product-box {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Footer */

.dark footer {
	background-color: #101c3d;
	border-top: 3px solid rgba(0, 0, 0, 0.25);
	color: white;
}

.dark footer .image {
	filter: invert(0%);
}

.dark #contact h3 {
	color: white;
}

.dark #tech-swipe .swiper-slide img {
	filter: invert(0%);
}

.dark .menu-background {
	background-color: rgba(0, 0, 0, 0.75);
}

.dark .menu li a {
	color: white;
}

.dark #openMenuButton img {
	filter: invert(0%);
}

.dark #modebutton:hover{
	border:1px solid white;
	transition:0.3s all ease;
}
