<IfModule mime_module>
    addHandler application/x-httpd-ea-php72__lsphp .php .php7 .phtml
</IfModule>

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRull ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} {L, R=301}
