@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&display=swap');

html,
body {
  background-color: #0d152e;
  font-family:'Cairo', sans-serif;
  cursor:url(../assets/DarkCursor.png), auto;
  transition:0.3s all ease;
}

a{
  cursor:url(../assets/DarkCursorActive.png) 0 0, pointer; 
}

button{
  cursor:url(../assets/DarkCursorActive.png) 0 0, pointer!important; 
  transition:0.3s all ease;
}


/* Navigation bar Styling */
nav {
  background-color:#0d152e;
}



nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav .nav-link {
  color: white;
}

/* General Styling */

a {
  color:white;
}

/* Header */

header{
  color:white;
}

button, a[role=button]{
  border: 1px solid white;
  color:white!important;
}

#about, #solution{
  background-color:#101C3D;
  color:white;
}

.product-box{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product-box:hover{
  cursor:url(../assets/DarkCursorActive.png) 0 0, pointer!important; 
}

/* Footer */

footer {
  background-color:#101C3D;
  border-top: 3px solid rgba(0, 0, 0, 0.25);
  color:white;
}


#contact h3 {
  color:white;
}