<div class="container" style="overflow: hidden">
  <div class="row">
    <div class="col-12 mb-3">
      <app-header-component
        [text]="'Jasa yang kami tawarkan'"
        [color]="'#2845b2'"
      ></app-header-component>
      <h2>
        Transformasi Visi Menjadi Realita: Destinasi Anda untuk Solusi Terkini
      </h2>
      <p>
        Selamat datang di pusat layanan umum kami, di mana inovasi tidak
        mengenal batas. Apakah itu membuat situs web yang menakjubkan, merancang
        aplikasi desktop yang kuat, atau membangun aplikasi seluler yang
        intuitif, tim ahli kami berkembang dengan mengubah ide menjadi kenyataan
        yang luar biasa. Dengan keahlian dalam pemodelan AI dan ML, dan
        memanfaatkan kekuatan komputasi awan, kami mendorong bisnis Anda ke
        puncak baru. Jelajahi kemungkinan tanpa batas dengan rangkaian layanan
        dinamis kami yang dirancang untuk memacu kesuksesan Anda.
      </p>
    </div>
    <div class="col-12">
      <app-service-carousel [services]="services"></app-service-carousel>
    </div>
  </div>
</div>
