<div class="container py-5">
  <div class="row justify-content-center order-lg-1 order-md-1">
    <div
      class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center footer-item"
    >
      <img src="assets/logo.png" alt="Logo PT Terra Nusa Teknologi" />
      <p class="d-inline-block">
        PT Terra Nusa Teknologi merupakan perusahaan IT Solution yang berbasis
        di Bekasi, Indonesia sejak tahun 2021.
      </p>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-12 col-12 footer-item order-lg-2 order-md-2"
    >
      <h4>Contact us</h4>
      <p class="mb-0"><a href="tel:+622188898292">(021) 88898292</a></p>
      <p class="mb-0">
        <a href="mailto:marketing@terranusa.tech">marketing&#64;terranusa.tech</a>
      </p>
      <p class="mb-0">
        Ruko Asia Tropis blok AT12 no. 21, Kota Harapan Indah, Kabupaten Bekasi,
        Jawa Barat
      </p>
    </div>
    <div class="col-lg-4 col-md-12 col-12 order-lg-3 order-md-3">
      <h4>Links</h4>
      <p class="mb-0"><a routerLink="/Career">Career</a></p>
      <p class="mb-0"><a routerLink="/Blog">Blogs</a></p>
      <p class="mb-0"><a routerLink="/">Landing page</a></p>
    </div>
  </div>
</div>
